#uno{
    background-color: red;    
    margin: 4px;    
    width: 100px;
    height: 100px;

    display: inline-block;
}
#dos{
    background-color: green;    
    margin: 2px 4px;
    width: 100px;
    height: 100px;
    display: inline-block;
}
#tres{
    background-color: rgb(84, 15, 158);    
    margin: 2px 4px 6px 8px;
    width: 100px;
    height: 100px;
}
#cuatro{
    background-color: turquoise;    
    width: 100px;
    height: 100px;
}

.borderGrueso{
    border: 15px solid black;
}

div{
    font-size: 20px;
}