*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;

}

body{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: black;
}

#container{
    padding: 50px;
    width: 80vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    display: wrap;
    background-color: blue;
}

.cuadros{
    display: flex;    
    justify-content: center;
    flex-wrap: wrap;    
    gap: 20px;
}
.circulos{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.a1{
    
    width: 200px;
    height: 200px;
    background-color: orangered;
}

.a2{
    
    width: 300px;
    height: 300px;
    aspect-ratio: 1/1;
    background-color: yellow;
    border-radius: 50%;  
    display: flex;        
    align-items: center;
}

.mini{
    width: 70px;
    height: 70px;
    background-color: orangered;
}

